body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
}
#main-wrapper {
    /* Maximum width of the main content area */
    /* max-width: 1200px;  */
    width: 100%;
    margin: 0 auto; /* Center the main wrapper horizontally */
    /* Horizontal padding */
    /* padding: 0 20px;  */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Page wrapper styling */
.page-wrapper {
    padding: 20px 0; /* Vertical padding for content spacing */
}
.login-container {
    margin: auto; /* center div :) */
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
.login-container h2 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group input:focus {
    border-color: #007bff;
    outline: none;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}

.register-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

nav.header {
    background-color: #333;
    padding: 1rem;
}
nav.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav.header ul li {
    display: inline;
}
nav.header ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav.header ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}
nav.header form {
    display: inline;
}
nav.header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: block;
}
nav.header button:hover {
    background-color: #575757;
    border-radius: 5px;
}
